
<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://i.picsum.photos/id/1004/5616/3744.jpg?hmac=Or7EJnz-ky5bsKa9_frdDcDCR9VhCP8kMnbZV6-WOrY);">
  <div class="container">
    <h1>Save any kind of movies</h1>
    <p>classic, best, action, romcom</p>
    <p class="button"><%= link_to new_list_path do %>
     Add a new list
  <% end %></p>
  </div>
</div>


<div class="cards">
 <% @lists.each do |list| %>
  <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://picsum.photos/300/200)">
    <%= link_to list.name, list_path(list.id) %>
  </div>
  <% end %>
</div>
